name: Test

on:
  push:
    branches:
      - dev/**
      - main
    paths-ignore:
      - "**.md"
  pull_request:

  workflow_dispatch:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      REDMINED_NO_TTY: 1
      REDMINED_IMAGE: redmined:test
      REDMINED_REDMINE_PORT: 3001
      REDMINED_CONTAINER_ENVS: RAILS_ENV=test

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      - uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6.15.0
        with:
          context: .
          load: true
          tags: redmined:test

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: redmine/redmine
          ref: master
          path: redmine1-src

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: redmine/redmine
          ref: master
          path: redmine2-src

      - name: Set up redmined
        run: |
          chmod +x redmined
          mkdir -p $HOME/.local/bin
          cp redmined $HOME/.local/bin
        shell: bash

      - name: Set up Redmine
        run: |
          cd $GITHUB_WORKSPACE/redmine1-src
          chmod a+w -R .

          cat <<EOS > config/database.yml
          test:
            adapter: sqlite3
            database: db/test.sqlite3
          EOS

          redmined bundle install
          redmined bin/rails db:prepare

          cd $GITHUB_WORKSPACE/redmine2-src
          chmod a+w -R .

          cat <<EOS > config/database.yml
          test:
            adapter: sqlite3
            database: db/test.sqlite3
          EOS

          redmined bundle install
          redmined bin/rails db:prepare

      - name: Test of basic behaviors
        working-directory: redmine1-src
        run: |
          docker volume ls

          redmined cat /etc/os-release
          redmined bin/about

          redmined printenv | grep RAILS_ENV=test
          redmined printenv | grep PORT=3001

          redmined bin/rails test test/unit/news_test.rb
          redmined bin/rails test test/system/versions_test.rb

      - name: Test of the indivisual settings
        working-directory: redmine1-src
        run: |
          cat <<EOS > .redmined.json
          {
            "default": {
              "name": "default",
              "port": "4000",
              "env": {
                "DEFAULT_ENV": "1"
              }
            },
            "other1": {
              "name": "other1",
              "port": "4001",
              "env": {
                "OTHER1_ENV": "1"
              }
            }
          }
          EOS

          # Test against default
          redmined printenv | grep DEFAULT_ENV=1
          redmined printenv | grep PORT=4000

          # Test against other1
          redmined -n other1 printenv | grep OTHER1_ENV=1
          redmined -n other1 printenv | grep PORT=4001

      - name: Test of multiple execution
        run: |
          cd $GITHUB_WORKSPACE/redmine1-src
          redmined ruby -e "sleep 10" &

          # Wait for container to start
          for _ in $(seq 1 5); do
            if docker ps --format '{{.Names}}' | grep -q "redmined-container-default"; then
              break
            fi
            sleep 1
          done

          docker container ls

          cd $GITHUB_WORKSPACE/redmine2-src
          redmined echo "OK"
